.murph {
    background-color: rgb(206, 164, 47);
    //height: 20rem;
    padding: 8rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgHeaderBlack {
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 4.5rem;
    width: 18rem;
    //margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.bgHeaderTitleBlack {
    margin-top: 1.3rem;
    color: white;
    font-weight: bold;
}

.murphContent {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    //background-color: #2aa00f;
}

.murphText {
    //background-color: red;
    //margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

    >span {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }
}

.murphPar {
    max-width: 400px;
    text-align: center;

    >span {
        //color: #2aa00f;
        font-weight: bold;
    }
}

.murphList {
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;

    > ul {
        list-style: none;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding-bottom: .5rem;
        border-bottom: 1px solid black;
        margin-top: 0;
        margin-bottom: .25rem;
    }

    > span {
        font-size: 2rem;
        border-top: 1px solid black;
        font-weight: bold;
        width: 100%;
        text-align: center;
        padding-top: .75rem;
    }
}





// MOBILE DESIGN

@media (max-width: 840px) {
    .murph {
        padding: 3rem 0;
    }

    .murphContent {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-top: 1rem;
        
    }

    .murphText {
        > span {
            text-align: center;
        }
    }

    .murphList {
        margin-top: 1rem;
        margin-bottom: 3.5rem;

        > span {
            padding-top: .25rem;
        }
    }
}