.card {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: .75rem;
    position: relative;
}


.cardImg {
    height: 9rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.cardImg img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
    color: white;
}

.cardDescription {
    font-size: .75rem;
    color: white;
    text-align: center;
    font-weight: normal;
    margin-top: 0.5rem;
}

.timesTitle {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: .75rem;
}

.timeTable {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: repeat(7, 1fr);
    row-gap: .75rem;
}

.day {
    font-size: .75rem;
    margin: auto 0;
    color: white;
}

.times {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 1.85rem);
    row-gap: 5px;
    column-gap: 1px;
    justify-content: left;

    :not(:last-child) {
        margin-right: 2px;
    }
}

.time {
    font-size: .6rem;
    background-color: darkgrey;
    border-radius: 2px;
    margin: auto 0;
    padding: 2px 0;
    color: black;
    text-align: center;
    cursor: pointer;
}

.time:hover {
    background-color: #2aa00f;
    color: white;
}

.noTime {
    margin: auto .5rem;
    text-align: left;
    width: 100%;
}

.scheduleButton {
    background-color: #2aa00f;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: auto auto 1rem auto;
}

.scheduleButton:hover {
    filter:opacity(.8);
}