.main {
    display: flex;
    width: 100%;
    max-width: 1120px;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
}

.logo {
    filter: invert(27%) sepia(75%) saturate(839%) hue-rotate(70deg) brightness(96%) contrast(94%); // #1d6b0a
    height: 500px;
    width: 500px;
    animation: blink 1s linear;
    animation-name: blink;
}


@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}