.main {
    display: flex;
    width: 100%;
    background-color: black;
    background-image: 
        //linear-gradient(to left, rgba(0, 0, 0, 1.0) 50%, transparent 100%),
        url("/images/girl-weight3.jpg")
    ;
    background-color: grey;
    background-blend-mode: luminosity;
    background-size: cover;
    height: calc(100vh + 4rem);
    align-items: center;
}

.titleImage {
    display:flex;
    width:100%;
    margin-left:0px;
    //background-color: grey;
}

.fire {
    height: calc(100vh - 100px);
    transform: scaleX(-1);
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 50%, transparent 80%);
    margin-left: 0;
}

.logo {
    filter: invert(27%) sepia(75%) saturate(839%) hue-rotate(70deg) brightness(96%) contrast(94%); // #1d6b0a
    height: 800px;
    width: 800px;
    //transform: rotate(-20deg);
    animation: blink 1s linear;
    animation-name: blink;
    margin-right:0;
    margin-left:auto;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.headTitles {
    display: flex;
    flex-direction: column;
    //width: 100%;
    height: 100%;
    justify-content: center;
    margin-right: 8.25rem;
    margin-left:auto;
    //background-color: bisque;

    button {
        height: 3rem;
        width: 12rem;
        background-color: inherit;
        border: 3px solid #2aa00f;
        color: white;
        border-radius: 5px;
        margin-top: 2.5rem;
        margin-left: 0px;
        //font-size: 1.25rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(8, 8, 8, 0.5);
        }
    }
}

.title1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0;

    span {
        color: #32ea29;
    }
}

.title2 {
    color: white;
    font-weight: normal;
    font-size: 1.5rem;
    margin-left:0;
    margin-top: 0.75rem;

    span {
        color: #32ea29;
    }
}