.main {
    display: flex;
    width: 100%;
    background-color: black;
    background-image:
        url("/images/girl-weight3.jpg");
    background-size: cover;
    height: calc(100svh + 8rem);
    justify-content: center;
}

.headTitles {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
}

.titleContent {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 2rem;
}

.mainButton {
    padding: 1rem 2rem;
    background-color: inherit;
    border: 3px solid #2aa00f;
    color: white;
    border-radius: 5px;
    margin-top: 2.5rem;
    margin-left: 0px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(8, 8, 8, 0.5);
    }
}

.title1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 0;

    span {
        color: #32ea29;
    }
}

.title2 {
    color: white;
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 0.75rem;

    span {
        color: #32ea29;
    }
}


// MOBILE DESIGN

@media (max-width: 920px) {
    .main {
        background-position: right 57% top 0;
        background-size: cover;
    }
}

@media (max-width: 640px) {
    .title1 {
        font-size: 1.25rem;
    }

    .title2 {
        font-size: 1rem;
        text-align: right;
    }

    .titleContent {
        padding-right: 1rem;
    }

    .mainButton {
        padding: 0.75rem 1rem;
        margin-top: 1.5rem;
        margin-left: auto;
        width: 10rem;
    }
}