.featureCardsSection {
    margin-top: -8rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding: 0;    
}

.featureCard {
    height: 22.5rem;
    width: 30%;
    min-width: 18rem;
    background-color: whitesmoke;
    border-radius: 20px 0 20px 0;
    padding: 3.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 5px #000000);
}

.healthIcon {
    filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);
    margin: 0 auto;
}

.cardTitle {
    margin: 0 auto;
    margin-top: .5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    //background-image: url("/images/brush/brush-darkgreen.png");
    //background-size: cover;

    span {
        margin-top: -0.5rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: bold;
        text-align: center;
        //color: rgba(0,0,0,0.9);
        color: #2aa00f;
        margin-right: auto;
        margin-left: auto;
    }

    img {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: auto;
    }
}


.cardText {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.25rem;

    span {
        //color: #2aa00f;
        color: black;
        font-weight: bold;
    }
}


// MOBILE DESIGN:

@media (max-width: 920px) {
    .featureCardsSection {
        flex-direction: column;
        align-items: center;
    }
    
    .featureCard {
        width: 100%;
        max-width: 500px;
        margin-bottom: 1.5rem;
        height:18rem;
        padding: 1.5rem 1rem 0 1rem;
        align-items: center;
    }

    .cardText {
        max-width: 400px;
    }
}

// MOBILE HORIZONTAL DESIGN

@media (max-height: 500px) {
    .featureCardsSection {
        margin-top: -2.5rem;
    }
}