.affiliate {
    //background-color: rgb(226, 226, 226);
    //height: 20rem;
    padding: 8rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/features-bg2.jpg');
    background-size: cover;
}

.bgHeaderBlack {
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 4.5rem;
    width: 18rem;
    //margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.bgHeaderTitleBlack {
    margin-top: 1.3rem;
    color: white;
    font-weight: bold;
}

.affiliateContent {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    //background-color: #2aa00f;
}

.affiliateText {
    //background-color: red;
    //margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    //background-color: red;

    >span {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
    }
}

.affiliateParag {
    max-width: 400px;
    text-align: center;

    >span {
        color: #2aa00f;
        font-weight: bold;
    }
}

.affiliateImage {
    margin: auto;
    position: relative;
}

.coachImage {
    width: 100%;
    max-width: 903px;
    max-height: 682px;
    //mix-blend-mode: luminosity;
}

.crossfitCertificate {
    position:absolute;
    top:-30px;
    right:-50px;
    height: 130px;
    z-index:1;
}



// MOBILE DESIGN: 

@media (max-width: 840px) {
    .affiliate {
        padding: 3rem 0;
    }

    .affiliateContent {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-top: 1rem;
        
    }

    .affiliateText {
        > span {
            text-align: center;
            font-size: 1.25rem;
        }
    }

    .affiliateImage {
        margin: 1rem 0;
        order: -1;
    }
}