.staff {
    background-color: whitesmoke;
    padding: 8rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/features-bg2.jpg');
    background-size: cover;
}

.bgHeaderBlack {
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 4.5rem;
    width: 18rem;
    display: flex;
    justify-content: center;
}

.bgHeaderTitleBlack {
    margin-top: 1.3rem;
    color: white;
    font-weight: bold;
}

.staffContent {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.coachInfo {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    background-color: rgb(184, 184, 184);
    filter: drop-shadow(3px 3px 10px black);
}

.coachName {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.coachTitle {
    font-weight: bold;
    margin-top: .25rem;
    color: #2aa00f;
}

.coachCertification {
    margin-top: .25rem;
}

.roundImg {
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;

    >img {
        max-width: 100%;
        display: block;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: .5rem;

    >a:not(:last-child) {
        margin-right: 1rem;
    }
}

.social a {
    :hover {
        filter: opacity(.6);
    }
}


.instagram {
    height: 20px;
    max-width: 100%;
}



// MOBILE DESIGN

@media (max-width: 840px) {
    .staff {
        padding: 3rem 0;
    }

    .staffContent {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-top: 1rem;
    }

    .coachInfo {
        align-items: center;
        margin-bottom: 2rem;
    }
}

// ANCHOR

a.anchorStaff {
    position: absolute;
    margin-top: -12.5rem;
    visibility: hidden;
}

@media (max-width: 840px) {
    a.anchorStaff {
        position: absolute;
        margin-top: -7.5rem;
        visibility: hidden;
    }
}