.cards {
    width: 95%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.plans {
    background-image: url('/images/black-bg.jpg');
    background-size: cover;
    mask-image: linear-gradient(to top, black 95%, transparent 100%);
    display: flex;
    justify-content: center;
}

.plansContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 4rem;
}

.title {
    color: white;
    margin-top: 6rem;
    text-align: center;
}

// MOBILE DESIGN

@media (max-width: 840px) {
    .cards {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }
}