.stickyHeader {
    position: fixed;
    top: 0;
    z-index: 50;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    //background-color: red;
    padding: 0 2rem;
}

.headerContent {
    position: fixed;
    top: 0;
    z-index: 50;
    color: white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(8, 8, 8, 0.3);
    padding: 0 2rem;
}

.logoLink {
    margin-left: 0;

    &:hover {
        filter: brightness(0.8);
        //filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);

        img {
            filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);
        }
    }
}

.logo {
    height: 8rem;
    clip-path: inset(2.5rem 0px 2.25rem 0px);
    margin-top: -1.5rem;
}

.links {
    margin-top: auto;
    margin-bottom: auto;

    /*
    a:not(:last-child) {
        margin-right:2.25rem;
    }
    */

    a {
        display: inline-block;
        line-height: 5rem;
        height: 5rem;
        position: relative;
        padding: 0 1rem;
        //background-color: aqua;
    }

    a:hover {
        border-bottom: 2px solid #32ea29;
        //color: #2aa00f;
        color: #32ea29;
    }
}

.langs {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
    //background-color: yellow;

    button:not(:last-child) {
        margin-right: 1.5rem;
    }

    button {
        background-color: inherit;
        border: none;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        filter: drop-shadow(1px 1px 1px black);

        &:hover {
            filter: opacity(0.8)
        }
    }
}

.menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: -.5rem;
    //background-color: red;
    cursor: pointer;
}

.sideBar.inactiveSidebar {
    //display: none;
    position: absolute;
    top: 5rem;
    left: -250vh;
    background-color: whitesmoke;
    transition: all 0.75s;
}

.sideBar {
    position: absolute;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
    width: 100vw;
    background-color: whitesmoke;
    z-index: 10;
    //animation: pullSidebar .5s ease;
    transition: all 0.35s;
}

.sidebarContent {
    //justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    //background-color: aquamarine;
    height: 100svh;
}

.sidebarLangs {
    //height: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    //margin-right: 0;
    //background-color: yellow;

    button {
        background-color: inherit;
        border: none;
        padding: .5rem 1.25rem;
    }

    img {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;

        //filter: drop-shadow(1px 1px 1px black);

        &:hover {
            filter: opacity(0.8)
        }
    }
}

.sidebarLinks {
    //background-color: #32ea29;
    width: 100%;
    //justify-self: center;

    > :not(:last-child) {
        border-bottom: 1px solid black;
    }

    a {
        color: black;
        text-align: center;
        width: 75%;
        //background-color: azure;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 0;
        font-size: 1.5rem;
        display: block;
    }

    a:hover {
        background-color: rgba(41, 159, 15, 0.2);
    }
}

@media (max-width: 840px) {

    .headerContent,
    .stickyHeader {
        padding: 0 1.5rem;
    }

    .links,
    .langs {
        display: none;
    }
}

@media (min-width: 841px) {

    .menu,
    .sideBar {
        display: none;
    }
}

@keyframes pullSidebar {
    from {
        left: -100vh;
    }

    to {
        left: 0;
    }
}


@keyframes pushSidebar {
    0% {
        left: 0;
        display:flex;
        position: absolute;
        top: 5rem;
        left: 0;
        height: calc(100svh - 5rem);
        width: 100vw;
        background-color: whitesmoke;
        z-index: 10;
    }

    99% {
        left: -100vh;
    }

    100% {
        display: none;
    }
}