.stickyHeader {
    position: fixed;
    z-index: 50;
    color:white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    //background-color: red;
    padding: 0 50px;
}

.headerContent {
    position: fixed;
    z-index: 50;
    color:white;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(8, 8, 8, 0.3);
    padding: 0 50px;
}

.logoLink {
    margin-left: 0;
    
    &:hover {
        filter: brightness(0.8);
        //filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);

        img {
            filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);
        }
    }
}

.logo {
    height:8rem;
    clip-path: inset(2.5rem 0px 2.25rem 0px);
    margin-top:-1.5rem;
}

.links {
    margin-top: auto;
    margin-bottom: auto;
    //font-size: 1.25rem;

    a:not(:last-child) {
        margin-right:2.25rem;
    }

    a {
        display: inline-block;
        line-height: 5rem;
        height: 5rem;
        position: relative;
        //background-color: aqua;
    }

    a:hover {
        //filter: opacity(0.8);
        //filter: invert(39%) sepia(96%) saturate(504%) hue-rotate(65deg) brightness(100%) contrast(98%);
        border-bottom: 2px solid #32ea29;
        //color: #2aa00f;
        color: #32ea29;
    }
}

.langs {
    height: 100%;
    display: flex;
    align-items: center;
    //background-color: yellow;
    margin-right: 0;

    button:not(:last-child) {
        margin-right: 1.5rem;
    }

    button {
        background-color: inherit;  
        border: none;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        
        filter: drop-shadow(1px 1px 1px black);

        &:hover {
            filter: opacity(0.8)
        }
    }
}