.featuresContent {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    height: 50rem;
    background-color: rgb(199, 199, 199);
}

.bgHeader {
    padding: 0 1rem;
    font-size: 2.5rem;
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 5rem;
    margin-left:-1rem;
    margin-bottom:1rem;
    text-align: center;
    line-height: 5.75rem;
    color: white;
}

.featuresTitle {
    margin-top: 6.5rem;
    margin-left: 0;
    font-size: 2.5rem;
    color: black;
    font-weight: strong;
}

.textContainer {
    margin-top: .5rem;
    margin-left: 0;
    max-width: 28rem;
    font-size: 1rem;
    line-height: 1.5rem;
    //background-color: red;
    text-align: left;

    span {
        font-weight: 900;
        color: #2aa00f;
    }
}