.features {
    background-color: rgb(199, 199, 199);
    //background-color: white;
    width: 100%;
}

.featuresSection {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0 1rem;
    //align-items: center;
    background-color: rgb(199, 199, 199);
    //height: 50rem;
    padding-bottom: 5rem;
}

.featuresContent {
    margin-top: 5.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    //background-color: red;

    > :first-child {
        margin-right: 5rem;
    }
}

.crossfitForYou {
    justify-content: left;
}

.featuresTitle {
    margin-left: 0;
    font-size: 2rem;
    color: black;
    font-weight: strong;
    text-align: center;
}

.bgHeader {
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 5rem;
    margin-left:-1rem;
    margin-bottom:1.5rem;
    display: flex;
    justify-content: center;
}

.bgHeaderTitle {
    font-size: 2.5rem;
    line-height: 6.5rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
}

.textContainer {
    margin-top: .5rem;
    margin-left: 0;
    max-width: 28rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    //background-color: red;

    span {
        font-weight: 900;
        color: #2aa00f;
    }
}


.featureImages {
    margin-right:0;
    display: flex;
    min-width: 28rem;
    //background-color: green;
}

/*
.rect1 {
    background-color: black;
}

.rect2 {
    background-color: black;
}
*/



// MOBILE DESIGN:


@media (max-width: 920px) {
    .featuresContent {
        flex-direction: column;
        margin-top: 3rem;

        > :first-child {
            margin-right: 0;
        }
    }

    .crossfitForYou {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;
    }

    .featuresTitle {
        font-size: 2rem;
        width: 100%;
        max-width: 28rem;
        //background-color: red;
        text-align: center;
    }

    .bgHeader {
        width: 22.5rem;
        max-width: 28rem;
        margin: 0 auto;
    }

    .bgHeaderTitle {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    .textContainer {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .bgHeader {
        width: 19.5rem;
        max-width: 28rem;
        margin: 0 auto;
    }

    .bgHeaderTitle {
        font-size: 1.75rem;
        line-height: 1.5rem;
    }

    .featuresTitle {
        font-size: 1.75rem;
    }
}