.features {
    background-color: rgb(199, 199, 199);
    //background-color: white;
    width: 100%;
}

.featuresSection {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0 2rem;
    //align-items: center;
    background-color: rgb(199, 199, 199);
    //height: 50rem;
    padding-bottom: 5rem;
}

.featuresContent {
    margin-top: 5.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    //background-color: red;

    > :first-child {
        margin-right: 5rem;
    }
}

.crossfitForYou {
    //margin-left: 0;
    justify-content: left;
    //background-color: red;
    //min-width: 28rem;
    //background-color: blue;
}

.featuresTitle {
    margin-left: 0;
    font-size: 2.5rem;
    color: black;
    font-weight: strong;
}

.bgHeader {
    //margin: 0 auto;
    padding: 0 1rem;
    font-size: 2.5rem;
    background-image: url("/images/brush/brush-black.png");
    background-size: cover;
    height: 5rem;
    margin-left:-1rem;
    margin-bottom:1rem;
    text-align: center;
    line-height: 6.5rem;
    color: white;
}

.textContainer {
    margin-top: .5rem;
    margin-left: 0;
    max-width: 28rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    //background-color: red;

    span {
        font-weight: 900;
        color: #2aa00f;
    }
}


.featureImages {
    margin-right:0;
    display: flex;
    min-width: 28rem;
    background-color: green;
}

.rect1 {
    background-color: black;
}

.rect2 {
    background-color: black;
}

@media (max-width: 840px) {
    .featuresContent {
        flex-direction: column;
        margin-top: 3rem;

        > :first-child {
            margin-right: 0;
        }
    }

    .crossfitForYou {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        //margin-left: 50%;
        align-items: center;
    }

    .bgHeader {
        max-width: 28rem;
        line-height: 6rem;
    }

    .textContainer {
        text-align: center;
    }
}